<template>
  <div class="shadow-2xl rounded-xl overflow-hidden bg-white">
    <div class="p-4 px-6">
      <div
        v-if="title"
        class="text-xl md:text-2xl font-medium text-green-400 mb-4"
      >
        {{ title }}
      </div>
      <div class="md-content">
        <nuxt-content :document="contentmd" />
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: null,
    },
    contentdir: {
      type: String,
      default: 'main',
    },
    content: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      contentmd: null,
    }
  },
  created() {
    this.loadContent()
  },
  methods: {
    async loadContent() {
      if (this.content) {
        this.contentmd = await this.$content(
          this.contentdir,
          this.content
        ).fetch()
      }
    },
  },
}
</script>

<style></style>
