<template>
  <div class="mb-10 md-toc">
    <h3>Table of content</h3>
    <nav>
      <ul class="text-green-600">
        <li
          v-for="link of toc"
          :key="link.id"
          :class="{
            'py-1': link.depth === 2,
            'ml-6 pb-1': link.depth === 3,
          }"
        >
          <NuxtLink :to="`#${link.id}`">
            {{ link.text }}
          </NuxtLink>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    toc: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style></style>
