<template>
  <div class="container mx-auto">
    <div
      class="
        m-4
        md:m-10
        mb-0
        bg-white
        shadow-2xl
        ratio-23
        rounded-xl
        relative
        overflow-hidden
      "
    >
      <div
        class="absolute w-full h-full"
        :style="{
          'background-image': 'url(/main/mebg.jpg)',
          'background-position': 'center center',
          'background-size': 'cover',
        }"
      >
        <span class="hidden">Hiking in United States national parks</span>
      </div>
      <div class="flex w-full h-full items-end absolute">
        <div class="p-4 px-6">
          <div class="flex items-center">
            <div
              class="
                w-16
                h-16
                md:w-24 md:h-24
                rounded-full
                bg-white
                self-align
                border-4 border-green-400
                overflow-hidden
              "
            >
              <img
                src="/main/plduhoux.jpg"
                alt="Photo of me"
                class="w-16 md:w-24"
              />
            </div>
            <div class="self-align pl-4">
              <div class="text-xl md:text-3xl font-medium text-white">
                Pierre-Louis Duhoux
              </div>
              <div class="text-lg md:text-2xl font-medium text-green-400">
                Software Engineer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid gap-4 md:gap-10 grid-cols-1 md:grid-cols-2 m-4 md:m-10 mb-0"
    >
      <div>
        <Card class="mb-4 md:mb-10" content="aboutme"> </Card>
        <Card content="myskills"> </Card>
      </div>
      <div>
        <Card class="mb-4 md:mb-10" content="myprojects"> </Card>
        <Card content="other-realisations"> </Card>
      </div>
    </div>
    <div
      class="
        m-4
        md:m-10
        mb-0
        bg-white
        shadow-2xl
        ratio-20
        rounded-xl
        relative
        overflow-hidden
      "
    >
      <div
        class="absolute w-full h-full"
        :style="{
          'background-image': 'url(/main/cacbg2.jpg)',
          'background-position': 'center center',
          'background-size': 'cover',
        }"
      ></div>
      <div class="flex w-full h-full items-center absolute">
        <div
          class="
            self-align
            text-xl
            md:text-3xl
            text-white
            p-4
            px-6
            w-full
            text-center
          "
        >
          Life begins at the end of your comfort zone
        </div>
      </div>
    </div>
    <div
      class="grid gap-4 md:gap-10 grid-cols-1 md:grid-cols-2 m-4 md:m-10 mb-0"
    >
      <div>
        <Card content="hireme"> </Card>
      </div>
      <div>
        <Card content="madewith"> </Card>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
