@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gradient-to-br from-white to-green-50;
}

.ratio-23 {
  padding-bottom: 33%;
}
@media (max-width: 1024px) {
  .ratio-23 {
    padding-bottom: 66%;
  }
}
.ratio-20 {
  padding-bottom: 25%;
}

.md-content p {
  @apply pb-4;
}
.md-content strong {
  @apply text-green-600 font-medium;
}
.md-content h1 {
  @apply text-2xl font-medium mb-4 text-green-600;
}
.md-content h1 strong {
  @apply font-medium text-green-400;
}
.md-content h2 {
  @apply text-xl font-medium mb-4 text-green-600;
}
.md-content h2 strong {
  @apply font-medium text-green-400;
}
.md-content h3 {
  @apply text-lg font-medium mb-4 text-green-800;
}
.md-content h3 strong {
  @apply font-medium text-green-600;
}
.md-content hr {
  @apply w-16 border-green-600 mb-4;
}

.md-content ul {
  @apply list-disc mx-4;
}
.md-content ul li {
  @apply mb-2;
}
.md-content .md-toc ul li {
  @apply mb-0;
}
.md-content a:not(.pld-button) {
  @apply text-green-600 font-normal;
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight pre {
  @apply rounded-xl;
}
