<template>
  <article>
    <div class="container mx-auto">
      <div
        class="
          m-0
          md:m-10 md:mb-0
          bg-white
          shadow-2xl
          ratio-23
          md:rounded-xl md:rounded-b-none
          relative
          overflow-hidden
        "
      >
        <div
          class="absolute w-full h-full"
          :style="{
            'background-image': 'url(' + article.img + ')',
            'background-position': 'center center',
            'background-size': 'cover',
          }"
        >
          <span class="hidden">{{ article.alt }}</span>
        </div>

        <div class="flex w-full h-full items-end absolute">
          <div class="w-full">
            <div class="absolute bg-black opacity-40 w-full h-full"></div>
            <div class="relative flex items-center p-4 px-6 z-10">
              <div class="self-align">
                <div class="text-xl md:text-3xl font-medium text-white">
                  {{ article.title }}
                </div>
                <div class="text-lg md:text-2xl font-normal text-green-400">
                  {{ article.description }}
                </div>
                <div class="text-normal md:text-normal font-normal text-white">
                  Article last updated: {{ formatDate(article.updatedAt) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          m-0
          md:m-10 md:mt-0
          bg-white
          shadow-2xl
          md:rounded-xl md:rounded-t-none
          p-4
          px-6
          pt-10
          md-content
        "
      >
        <div class="flex flex-wrap">
          <div class="flex-grow">
            <div class="xl:hidden">
              <Toc :toc="article.toc" />
            </div>
            <nuxt-content :document="article" />
          </div>
          <div class="flex-none w-80 hidden xl:block">
            <Toc :toc="article.toc" />
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content('articles', params.slug).fetch()

    return { article }
  },
  methods: {
    formatDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(date).toLocaleDateString('en', options)
    },
  },
}
</script>

<style></style>
