<template>
  <a
    class="
      text-white
      font-medium
      py-2
      px-4
      rounded
      bg-gradient-to-br
      from-green-400
      to-yellow-400
      hover:opacity-80
      transition
      ease-in-out
      duration-700
      pld-button
      mb-4
    "
    :href="href"
    target="_blank"
  >
    <slot></slot>
  </a>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      default: null,
    },
  },
}
</script>

<style></style>
