<template>
  <div>
    <div class="flex items-center py-4">
      <div
        class="
          w-8
          md:w-16
          rounded-full
          bg-white
          self-align
          overflow-hidden
          flex-none
        "
      >
        <a :href="project.link" target="_blank">
          <img :src="project.image" :alt="project.name" class="w-8 md:w-16" />
        </a>
      </div>
      <div class="self-align pl-4">
        <div class="text-base md:text-lg text-green-600 font-medium">
          <a :href="project.link" target="_blank">{{ project.name }}</a>
        </div>
        <div class="text-normal hidden md:block">
          <slot></slot>
        </div>
      </div>
    </div>
    <div class="text-normal md:hidden">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style></style>
